<?xml version="1.0"?>
<config>
    <modules>
        <FC_DarwinPricing>
            <version>1.2.0</version>
        </FC_DarwinPricing>
    </modules>
    <frontend>
        <routers>
            <DarwinPricing>
                <use>standard</use>
                <args>
                    <module>FC_DarwinPricing</module>
                    <frontName>DarwinPricing</frontName>
                </args>
            </DarwinPricing>
        </routers>
        <layout>
            <updates>
                <DarwinPricing>
                    <file>DarwinPricing.xml</file>
                </DarwinPricing>
            </updates>
        </layout>
        <translate>
            <modules>
                <FC_DarwinPricing>
                    <files>
                        <default>FC_DarwinPricing.csv</default>
                    </files>
                </FC_DarwinPricing>
            </modules>
        </translate>		
    </frontend>
    <adminhtml>		
        <translate>
            <modules>
                <FC_DarwinPricing>
                    <files>
                        <default>FC_DarwinPricing.csv</default>
                    </files>
                </FC_DarwinPricing>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <DarwinPricing>
                <class>FC_DarwinPricing_Model</class>
                <resourceModel>FC_DarwinPricing_mysql4</resourceModel>
            </DarwinPricing>
        </models>
        <blocks>
            <DarwinPricing>
                <class>FC_DarwinPricing_Block</class>
            </DarwinPricing>
        </blocks>
        <helpers>
            <DarwinPricing>
                <class>FC_DarwinPricing_Helper</class>
            </DarwinPricing>
        </helpers>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <DarwinPricing_order_paid>
                        <class>DarwinPricing/observer</class>
                        <method>postOrder</method>
                    </DarwinPricing_order_paid>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_payment_refund>
                <observers>
                    <DarwinPricing_order_refund>
                        <class>DarwinPricing/observer</class>
                        <method>postRefund</method>
                    </DarwinPricing_order_refund>
                </observers>
            </sales_order_payment_refund>
        </events>
    </global>
    <default>
        <DarwinPricing>
            <general>
                <is_active>1</is_active>
            </general>
        </DarwinPricing>
    </default>
</config>
