<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <DarwinPricing translate="label" module="DarwinPricing">
            <label>Darwin Pricing</label>
            <sort_order>400</sort_order>
        </DarwinPricing>
    </tabs>
    <sections>
        <DarwinPricing translate="label" module="DarwinPricing">
            <label>Darwin Pricing</label>
            <tab>DarwinPricing</tab>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="DarwinPricing">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Enable Darwin Pricing</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>0</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                        </is_active>            
                        <api_user translate="label">
                            <label>Site ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_user>            
                        <api_url translate="label">
                            <label>API Server</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_url>
                        <secret_key translate="label">
                            <label>Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </secret_key>
                    </fields>
                </general>        
            </groups>
        </DarwinPricing>
    </sections>
</config>