<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Darwin>
			<version>0.1.0</version>
		</Magebuzz_Darwin>
	</modules>
	<frontend>
		<routers>
			<darwin>
				<use>standard</use>
				<args>
					<module>Magebuzz_Darwin</module>
					<frontName>darwin</frontName>
				</args>
			</darwin>
		</routers>
		<layout>
			<updates>
				<darwin>
					<file>darwin.xml</file>
				</darwin>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Darwin>
					<files>
						<default>Magebuzz_Darwin.csv</default>
					</files>
				</Magebuzz_Darwin>
			</modules>
		</translate>		
	</frontend>
  <adminhtml>		
		<translate>
			<modules>
				<Magebuzz_Darwin>
					<files>
						<default>Magebuzz_Darwin.csv</default>
					</files>
				</Magebuzz_Darwin>
			</modules>
		</translate>
  </adminhtml>   
	<global>
		<models>
			<darwin>
				<class>Magebuzz_Darwin_Model</class>
				<resourceModel>darwin_mysql4</resourceModel>
			</darwin>
		</models>
		<blocks>
			<darwin>
				<class>Magebuzz_Darwin_Block</class>
			</darwin>
		</blocks>
		<helpers>
			<darwin>
				<class>Magebuzz_Darwin_Helper</class>
			</darwin>
		</helpers>
		<events>
			<sales_order_invoice_pay>
				<observers>
					<darwinpricing_order_paid>
						<class>darwin/observer</class>
						<method>postOrderDetail</method>
					</darwinpricing_order_paid>
				</observers>
			</sales_order_invoice_pay>
			<sales_order_payment_refund>
				<observers>
					<darwinpricing_order_refund>
						<class>darwin/observer</class>
						<method>refundOrder</method>
					</darwinpricing_order_refund>
				</observers>
			</sales_order_payment_refund>
		</events>
	</global>
	<default>
		<darwin>
			<general>
				<is_active>1</is_active>
				<api_url>https://api.darwinpricing.com</api_url>
			</general>
		</darwin>
	</default>
</config>