<?xml version="1.0"?>
<config>
    <modules>
        <Uplift_DecisionEngine>
            <version>1.0.0</version>
        </Uplift_DecisionEngine>
    </modules>
    <frontend>
        <routers>
            <DecisionEngine>
                <use>standard</use>
                <args>
                    <module>Uplift_DecisionEngine</module>
                    <frontName>DecisionEngine</frontName>
                </args>
            </DecisionEngine>
        </routers>
        <layout>
            <updates>
                <DecisionEngine>
                    <file>DecisionEngine.xml</file>
                </DecisionEngine>
            </updates>
        </layout>
        <translate>
            <modules>
                <Uplift_DecisionEngine>
                    <files>
                        <default>Uplift_DecisionEngine.csv</default>
                    </files>
                </Uplift_DecisionEngine>
            </modules>
        </translate>		
    </frontend>
    <adminhtml>		
        <translate>
            <modules>
                <Uplift_DecisionEngine>
                    <files>
                        <default>Uplift_DecisionEngine.csv</default>
                    </files>
                </Uplift_DecisionEngine>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <DecisionEngine>
                <class>Uplift_DecisionEngine_Model</class>
                <resourceModel>Uplift_DecisionEngine_mysql4</resourceModel>
            </DecisionEngine>
        </models>
        <blocks>
            <DecisionEngine>
                <class>Uplift_DecisionEngine_Block</class>
            </DecisionEngine>
        </blocks>
        <helpers>
            <DecisionEngine>
                <class>Uplift_DecisionEngine_Helper</class>
            </DecisionEngine>
        </helpers>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <DecisionEngine_order_paid>
                        <class>DecisionEngine/observer</class>
                        <method>postOrder</method>
                    </DecisionEngine_order_paid>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_payment_refund>
                <observers>
                    <DecisionEngine_order_refund>
                        <class>DecisionEngine/observer</class>
                        <method>postRefund</method>
                    </DecisionEngine_order_refund>
                </observers>
            </sales_order_payment_refund>
        </events>
    </global>
    <default>
        <DecisionEngine>
            <general>
                <is_active>1</is_active>
            </general>
        </DecisionEngine>
    </default>
</config>
